@import "tailwindcss";

.scene {
  perspective: 1000px;
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card__face {
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}
